<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangma.mapper.UserMapper">

    <select id="findUser" parameterType="User">
        select *
        from a_user
    </select>

    <select id="findUserAndJob" resultType="java.util.Map">
        SELECT *
        FROM a_user U
                 JOIN A_JOB J
                      ON U.USER_JOB = J.ID
    </select>

    <select id="findUserAndJobById" resultType="UserAndJob">
        SELECT U.ID            id,
               U.USER_NAME     userName,
               U.USER_Email    userEmail,
               U.USER_Password userPassword,
               J.JOB_NAME      jobName,
               J.JOB_DESC      jobDesc,
               J.JOB_PARENT_ID jobParentId
        FROM a_user U
                 JOIN A_JOB J
                      ON U.USER_JOB = J.ID
                          AND U.ID = #{id}
    </select>


</mapper>